<div class="component">
<div class="title">Stop Watch</div>

    <div class="label">
        <p class="time">{{ stopWatch | async }}</p>
    </div>
<br/>
    <div class="buttons">
        <span class="button">
            <input
            type="button"
            id="start-button" 
            class="start"
            type="button"
            (mouseup)="handleStarter()"
            [ngClass]="starterStopper?.value ? pauser?.value ? 'default' : 'pause' : 'default'"
            [value]="starterStopper?.value ? pauser?.value ? 'Resume' : 'Pause' : 'Start'"
            /></span>
        <!-- <span class="button"><button id="stop-button" class="stop">Stop</button></span> -->
        <span class="button"><button id="reset-button" class="reset">Reset</button></span>
    </div>
</div>