<div class="component">
<div class="title">Stop Watch</div>

    <div class="label">
    <form>
    <input type="number" class="input" readonly disabled/>
    <input type="number" class="input" readonly disabled/>
    <input type="number" class="input" readonly disabled/>
    <input type="number" class="input" readonly disabled/>
    </form>
    </div>
    <div class="label">
        <div class="head">D</div>
        <div class="head">H</div>
        <div class="head">M</div>
        <div class="head">S</div>
    </div>
<br/>
    <div class="buttons">
        <span class="button"><button class="start">Start</button></span>
        <span class="button"><button class="stop">Stop</button></span>
        <span class="button"><button  class="reset">Reset</button></span>
    </div>
</div>