.navbar{
    background-color: blue;
    height: 40px;
    font-size: 25px;
    position:fixed;
    width: 100%;
    z-index: 999;
}

.icon img{
    height: 30px;
    padding-top: 5px;
    padding-left: 10px;
    float: left;
    display: none;
}

.icon img:hover{
    opacity: 0.4;
}

.button1{
    color: white;
    margin-left: 20px;
}

.button1:hover{
    color: rgba(250, 115, 115, 0.805);
    cursor: pointer;
    
}
.button2{
    color: white;
    margin-left: 20px;
}

.button2:hover{
    color: rgba(250, 115, 115, 0.805);
    cursor: pointer;
    
}

@media only screen and (max-width: 500px) {
    .icon img{
       display: block;
    }
}

.details{
    padding-top: 60px;
    padding-bottom: 60px;
}

.link{
    text-decoration: none;
}
