
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <div class="navbar">

    <span class="icon"><img src="../assets/bars.svg" alt="bar"></span>
    <nav>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="link"><span class="button1">Home</span></a>
    <a routerLink="/details" routerLinkActive="active" ariaCurrentWhenActive="page" class="link"><span class="button2">Fetch</span></a>
    </nav>
  </div>

<div class="details">
  <router-outlet></router-outlet>
</div>

